@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pirata+One&family=Yrsa:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
}
:root{
    --cor0: #946232;
    --cor1: #57907A;
    --cor2: #F1E197;
    --cor3: #D9A14F;
    --cor4: #0C1210;
 
    --fonte-padrao:'Pirata One', cursive;  
    --fonte-destaque:'Yrsa', serif;  
     
}
html {
    scroll-behavior: smooth;
}
body{
    background: rgb(49,77,69);
    background: linear-gradient(180deg, rgba(49,77,69,1) 17%, rgba(148,98,50,1) 40%, rgba(241,225,151,1) 61%);
    

}
.header
{
    font-family: var(--fonte-padrao);
    font-size: 2em;
    text-align: center;  
    margin: auto; 
    min-width:300px;
    max-width: 1200px;
    background-color: white;
    text-shadow: 4px 4px 10px black;
    color: white;
    min-height: 200px;
    background-image: url(img/navfundo.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    text-shadow: 5px 4px 1px black; 
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-top: 3px solid black;
}
header > h1{
    padding-top: 70px;
}
nav{ 
    min-width: 300px;
    max-width: 1200px;
    background-color: white; 
    text-align: center;
    margin: auto;
    background: rgb(49,77,69);
    background: linear-gradient(180deg, rgba(49,77,69,1) 45%, rgba(148,98,50,1) 69%, rgba(241,225,151,1) 95%);
    border-radius: 0px 0px 30px 30px;
    border: 3px solid black;
    
    
}
nav > a{
    text-decoration: none;
    color: white;
    padding: 1px 8px 0px 5px;
    font-family:var(--fonte-padrao);
    font-size: 2em;
    font-weight: bold;
    text-shadow: 5px 4px 1px black;
    transition-duration: 0.5s;
}
nav > a:hover{
    background: linear-gradient(180deg, rgba(217,161,79,1) 17%, rgba(241,225,151,1) 99%);
    border-radius: 10px;
}
article{
    text-align: center;
    margin: auto; 
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    padding: 20px;
    background: linear-gradient(0deg, rgba(217,161,79,1) 0%, rgba(241,225,151,1) 100%);
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-radius: 0px 0px 30px 30px;
    position: relative;
}
article > div{
    border: 3px solid black;
    padding: 10px;
    margin: 5px;
    background-color:white;
    border-radius: 10px 0px 10px 0px;
    box-shadow: 9px 2px 9px grey;
    position: relative;   
    
}
.div1{
    position: relative;
    min-height: 375px ;
    min-width: 200px;
    display: flow-root;
}

.imgh1{
    width: 10vw;
    height: 10vw;
    background-color: #0C1210;
    color: white;
    box-shadow: 4px 2px 4px black;
    float: left;
}


.div2{
    position: relative;
    min-height: 375px ;
    min-width: 200px;
}
.imgh2{
    width: 10vw;
    height: 10vw;
    background-color: #0C1210;
    color: white;
    box-shadow: 4px 2px 4px black;
    float: left;
    
}
.mainp{
    text-align: auto;
    padding-top: 30px;
    padding-left: 220px;
    font-family: var(--fonte-destaque);
    font-size: 1.5rem;
    

}
.p2{
    text-align: auto;
    padding-top: 30px;
    padding-left: 220px;
    font-family: var(--fonte-destaque);
    font-size: 1.5rem;
}
article > div > h1{
    font-family: var(--fonte-padrao);
    font-size: 4em;
}
article > div > h2{
    font-family: var(--fonte-padrao);
    font-size: 3em;
}
article > div > p{
    font-family: var(--fonte-destaque);
    font-weight: normal;
    text-align: justify;
    font-size: 1.25em;
    line-height: 30px;
    text-indent: 10px;
    

    
}

ul > li{
    font-family: var(--fonte-destaque);
    font-size: 0.9em;
    list-style-type: disc;
    list-style-position: inside;
}
aside > div{
    border: 3px solid black;
    padding: 10px;
    margin: 5px;
    background-color: #F1E197;
    border-radius: 10px 0px 10px 0px;
    box-shadow: 9px 2px 9px grey;
    color: white; 
    text-shadow: 5px 4px 1px black;  
}
aside > div >h2{
    font-family: var(--fonte-padrao);
    font-size: 3em;
}
.divvideo{
    background: rgb(87,144,122);
    background: linear-gradient(180deg, rgba(87,144,122,1) 1%, rgba(148,98,50,1) 33%, rgba(148,98,50,1) 71%, rgba(191,137,68,1) 97%);
    color: white; 
    text-shadow: 5px 4px 1px black; 
}
.portvideo{
    position: relative;
    margin: 0px;/*Margens do video */
    padding: 20px;/*Espaço do video */
    position: relative;/*Encaixa o video dentro da div */
    padding-bottom: 56.5%;/*Alinhar video no background */
}
.portvideo > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;      
    height: 90%;
    
   
    
}
.hab1, .hab2, .hab3, .hab4, .hab5{

    border: 3px solid black;
    padding: 10px;
    margin: 5px;
    background-color:white;
    border-radius: 10px 0px 10px 0px;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    text-align: justify;
    font-size: 1.25em;
    line-height: 30px;
    text-indent: 10px;
    font-family: var(--fonte-destaque);
    font-size: 1.5rem;
}
.dano{
    color: red;
    font-weight: bold;
}
.time{
    color: green;
    font-weight: bold;
}
.porcentagem{
    color: rgb(185, 61, 179);
    font-weight: bold;
}
.gold{
    color: gold;
}
.strong{
    font-weight: bold;
}
.videoguia{
    position: relative;
    margin: 0px;/*Margens do video */
    padding: 20px;/*Espaço do video */
    position: relative;/*Encaixa o video dentro da div */
    padding-bottom: 56.5%;/*Alinhar video no background */
}
.videoguia > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;      
    height: 90%;
}

footer{
    font-family: var(--fonte-padrao); 
    text-align: center;
    margin: auto;
    background: rgb(49,77,69);
    background: linear-gradient(180deg, rgba(49,77,69,1) 45%, rgba(148,98,50,1) 69%, rgba(241,225,151,1) 95%);
    border-radius: 0px 0px 30px 30px;
    border: 3px solid black;  
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-shadow: 5px 4px 1px black;
}
footer > a{
    text-decoration: none;
    color: white;
    padding: 1px 8px 0px 5px;
    font-family:var(--fonte-padrao);
    font-size: 25px;
    font-weight: bold;
    text-shadow: 5px 4px 1px black;
    transition-duration: 0.5s;
}
footer > a:hover{
    background: linear-gradient(180deg, rgba(217,161,79,1) 17%, rgba(241,225,151,1) 99%);
    border-radius: 10px;
    
    
}